.login-signup-container {
  display: grid;
  grid-template-columns: 70% 30% 70%;
  border-radius: 20px;
  margin-top: 7.5rem;
  overflow: hidden;
  transition: 0.3s linear;
  box-shadow: 0px 0px 10px rgb(140, 136, 136);
  align-self: flex-end;
margin: 1rem;
}

.login-signup-container.active {
  grid-template-columns: 0% 30% 70%;
  transition: 0.3s linear;
  background-color:var( --background-color-base);
}

.login-signup-container .side-div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(71, 65, 54, 0.2), rgba(71, 65, 54, 0.2)),
    url("v2.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
}


.decoimg {
  width:45%;
  border-radius: 95px;
  justify-content: center;
  display: flex;
  position: absolute;
  margin-top: 20%;
}

.decologo {
max-width: 40%;

}

.decovoiderose {
  display: flex;
  width: 10vh;
  margin-top: 2.2rem;
  position: absolute;
}
.decovoiderose2 {
  display: flex;
  width: 10vh;
  margin-top: 25rem;
  margin-left: 40%;
  position: absolute;
}

.decovoidebleu {
  position: absolute;
  display: flex;
  margin-left: 2%;
  margin-top: 45%;
  width: 15vh;

}
.decovoidebleu2 {
  position: absolute;
  display: flex;
  margin-left: 35rem;
  width: 15vh;
}
