.BgDecision {
  background-color: white;
}

.DecisionContainer {
  display: flex;
  float: right;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(2, 60%);
  grid-gap: 1rem;
  margin: 5rem;
  justify-content: center;
  margin-top: 3rem;
}

.DecisionPrise {
  display: flex;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(2, 60%);
  grid-gap: 1rem;
  margin: 5rem;
  justify-content: center;
  margin-top: 3rem;
}

.ligne {
  background-color: #cfcfcf;
  border: 1px solid #cfcfcf;
  padding: 0.01rem;
  width: 95%;
  margin: 2rem auto;
  border-radius: 1rem;
}

.card {
  width: auto;
  height: auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(140, 136, 136);
  color: #0c3944;
}

h1 {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  width: 50%;
  color: #0c3944;
}
