@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url(https://fonts.cdnfonts.com/css/helvetica-neue-9);
}

/*
*Formulaire décision
*le h2 s'applique également sur les dates */

.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  margin-bottom: -3%;
}

.TitleD {
  height: 2rem;
  margin-top: 8%;
}

.containerDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Bouton Onglet*/

.contBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.onglets {
  width: 250px;
  height: 50px;
  background: rgb(248, 248, 248);
  color: #196c84;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 1rem;
}

.fMxotn {
  background-color: transparent;
}
