@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url(https://fonts.cdnfonts.com/css/helvetica-neue-9);
}

/*
*Formulaire décision
*le h2 s'applique également sur les dates */

.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  margin-bottom: -3%;
}

.labelF {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 0.5rem;
  width: 32rem;
  height: 3rem;
  font-size: 155%;
  color: #fff30d;
  background-color: #196c84;

  border-radius: 2rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.TitleD {
  height: 2rem;
  margin-top: 8%;
}

h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 22%;
  margin-top: 15%;
  margin-bottom: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 140%;
  color: #196c84;
  background-color: #c1e94e;
  width: 23rem;

  border-radius: 2rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.containerDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ButtonDecision {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 2%;
  margin-bottom: -5%;
  width: 20rem;
  border: none;
  font-size: 155%;
  color: #fff30d;
  background-color: #196c84;
  border-radius: 1rem;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/*Bouton Onglet*/

.contBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.onglets {
  width: 250px;
  height: 50px;
  background: rgb(248, 248, 248);
  color: #196c84;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 1rem;
}

.active {
  background: #c1e94e;
  color: #196c84;
}
