@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url(https://fonts.cdnfonts.com/css/helvetica-neue-9);
}

.Submit {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 1%;
  width: 9%;
  border: none;
  border-radius: 1rem;
  font-size: 155%;
  color: #196c84;
  background-color: #c1e94e;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelF {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 0.5rem;
  /* display: flex;
    justify-content: center; */
  width: 17rem;
  height: 20%;
  border-radius: 2rem;
  font-size: 155%;
  color: #196c84;
  background-color: #c1e94e;

  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.TitleD {
  height: 1.3rem;
  margin: 10%;
}

.Timeline {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
}

.date {
  margin-bottom: 3%;
}
