.App {
  background-color: var(--color-default);
}
#homeh1 {
  color: var(--background-color-base);
  padding: 2rem;
}

.Home {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}
