.App {
  background-color: var(--color-default);
}
#homeh1 {
  color: var(--background-color-base);
  padding: 2rem;
  font-size:var( --font-size-xxxxxl);
  font-weight: var(--font-weight-extrablack);
  margin-left: 1em;
}

.Home {
  display: flex;
  flex-direction:column-reverse;
  flex-wrap: wrap;
}
.AccueilAdmin {
  background-color: var(--color-neutral-95);
}