.footer h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
  padding: 25px;
  background-color: #0c3944;
  margin-top: 0px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
  height: auto;
}
